* {
    margin: 0;
    padding: 0;
    font-family: 'consolas', monospace;
    color: #fff;
}
html {
    background: #333;
}
body {
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
dt {
    padding-top: 8px;
    font-weight: 600;
    cursor: help
}
dd {
    margin-left: 9px;
    border-left: 2px solid #555;
    padding-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}
div.block {
    margin-left: 9px;
    border-left: 2px solid #555;
    padding-left: 9px;
}
.parameter {
    color: #f35c8b;
}
.map {
    color: #f58235;
}
.object {
    color: #6ed5e6;
}
.function {
    color: #85d992;
}
.value {
    color: #9589e2;
}
