body {
    margin: var(--unit) auto calc(var(--unit) * 4);
    width: 96vw;
    max-width: 1600px;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--zephyr);
}

* {
    margin-bottom: calc(var(--unit) * .25);;
}

p {
    margin-bottom: var(--unit);
}

h2 {
    padding-top: var(--unit);
}

code {
    font-family: Consolas, monospace;
    display: inline-block;
    padding: 0px var(--corner);
    border-radius: var(--corner);
    color: var(--white);
    background: var(--mid);
}

dt {
    margin-top: calc(var(--unit) * 0.5);
}

dd {
    margin: 0px calc(var(--unit) * 0.25);
    padding-left: calc(var(--unit) * 0.25);
    border-left: 2px solid var(--mid);
    color: var(--mid);
}

.return {
    color: var(--comfort);
}

.nightly {
    color: var(--advance);
}

.deprecated {
    color: var(--problem);
}