:root {
    --accent: #EF6F6C;
    --deprecated: #f0cf6b;
    --highlight: #6C6FEF;
    --nightly: 	#a36cef;
    --anim-list: border-color 0.2s, color 0.2s;
    --scale: 32px;
}
* {
    margin: 4px 0;
    padding: 0;
    font-family: 'consolas', monospace;
    color: #fff;
    -webkit-transition: var(--anim-list);
    -moz-transition: var(--anim-list);
    -o-transition: var(--anim-list);
    transition: var(--anim-list);
    transition-timing-function: ease-out
}

html {
    background: #333;
    padding-bottom: var(--scale);
}

body {
    display: block;
    margin: auto;
    width: 90vw;
    max-width: 1200px;
    padding: 0 var(--scale);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: var(--scale);
    font-weight: 600;
    color: var(--accent);
}

p {
    font-size: calc(var(--scale) * 0.5);
    line-height: calc(var(--scale) * 0.75);
    margin-top: calc(var(--scale) * 0.5);
}

code {
    display: block;
    text-decoration: none;
    border-radius: 4px;
    padding: 4px 8px;
    background: #808080;
    margin: 16px 0;
}

a {
    text-decoration: none;
    border-radius: 4px;
    padding: 0px 4px;
    border: 2px solid #808080;
}

a:hover {
    border-color: var(--accent);
    color: var(--accent);
}

dt {
    margin-top: calc(var(--scale) * 0.5);
}

dd {
    margin: 0px calc(var(--scale) * 0.25);
    padding-left: calc(var(--scale) * 0.25);
    border-left: 2px solid #888;
    color: #888;
}

strong {
    color: var(--accent);
}

.return {
    color: var(--highlight);
}

.deprecated {
    color: var(--deprecated);
    text-decoration: line-through;
}

.nightly {
    color: var(--nightly);
}