body {
    margin: var(--unit) auto calc(var(--unit) * 4);
    width: 96vw;
    max-width: 1600px;
}

h1,h2,h3,h4,h5,h6,strong {
    color: var(--zephyr);
}

* {
    margin: calc(0.25 * var(--unit)) 0px;
}

h2 {
    padding-top: var(--unit);
}

code {
    display: block;
    font-family: Consolas, monospace;
    color: var(--light);
    background: var(--black);
}

dt {
    margin-top: calc(var(--unit) * 0.5);
}

dd {
    margin: 0px calc(var(--unit) * 0.25);
    padding-left: calc(var(--unit) * 0.25);
    border-left: 2px solid var(--mid);
    color: var(--mid);
}

.return {
    color: var(--comfort);
}

.nightly {
    color: var(--advance);
}

.deprecated {
    color: var(--problem);
}