* {
    margin: 0;
    padding: 0;
}

.sharp {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

html {
    background-color: #000;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#zephyr-scene {
    height: 100vh;
    max-width: 100vw;
    position: relative;
    background-color: #000;
}

div#zephyr-scene canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p#statistics {
    z-index: 99;
    position: absolute;
    display: block;
    top: 2px;
    left: 4px;
    filter: grayscale(100%) invert(100%);
    mix-blend-mode: difference;
    font-family: Consolas, monospace;
    font-size: 12px;
    line-height: 14px;
}